{{error.message}}<!-- Internal server error while updating/deleting the blogpost error message eill be displayed  -->
<!-- blog waiting for approval -->
<div class="panel panel-info">
	<div class="panel-heading">
		<b>{{blogPost.blogTitle}}</b><br>
		<b>PostedOn: {{blogPost.postedOn | date:'medium'}}</b> <br>
		<b>PostedBy: {{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}</b>
		</div>
	<div class="panel panel-body">
	<p ng-bind-html="content"></p>
	</div>	
	<br>
	</div>
	<!-- Approve - UPDATE property approved as true
	REJECT-delete blogpost
	 -->
	
	<button ng-click="approve(blogPost)" class="btn btn-primary">Approve</button>
	<button class="btn btn-danger" ng-click="reject(blogPost)">Reject</button>
<br>
</div>